
# ==========================
# Application
# ==========================

MODE=DEV
LOG_LEVEL=DEBUG


# ==========================
# Development Database
# ==========================

DB_HOST=localhost
DB_PORT=5432
DB_NAME=storeway
DB_USER=postgres
DB_PASS=postgres


# ==========================
# Test Database
# ==========================

TEST_DB_HOST=localhost
TEST_DB_PORT=5432
TEST_DB_NAME=storeway
TEST_DB_USER=postgres
TEST_DB_PASS=postgres


# ==========================
# Production Database
# ==========================

PROD_DB_HOST=db
PROD_DB_PORT=5432
PROD_DB_NAME=storeway
PROD_DB_USER=postgres
PROD_DB_PASS=postgres


# ==========================
# JWT
# ==========================

EXP_SEC_ACCESS_TOKEN=10
EXP_DAYS_REFRESH_TOKEN=30

PRIVATE_SECRET_KEY_PATH=secrets/keys/jwt-private.pem
PUBLIC_SECRET_KEY_PATH=secrets/keys/jwt-public.pem

ALGORITM=RS256

JWT_ACCESS_TOKEN_NAME=access_token
JWT_REFRESH_TOKEN_NAME=refresh_token


# ==========================
# Cookies
# ==========================

COOKIE_SECURE=False